<script>
$(document).ready(function() {
    // 为 .review 类中的所有表格添加 Bootstrap 的表格样式类
    $('.review table').addClass('table table-sm table-striped');
    $('.course-overview-table table').addClass('table');
    $('.review blockquote').addClass('review-blockquote');

    //add img-fluid to all images
    $('.review img').addClass('img-fluid');

    // 定义一个函数来更新暗色模式
    function updateDarkMode(isDark) {
        if (isDark) {
            $('html').attr('data-bs-theme', 'dark');
            $('#theme-toggle i').removeClass('bi-moon-fill').addClass('bi-sun-fill');
            localStorage.setItem('darkMode', 'true');
        } else {
            $('html').attr('data-bs-theme', 'light');
            $('#theme-toggle i').removeClass('bi-sun-fill').addClass('bi-moon-fill');
            localStorage.setItem('darkMode', 'false');
        }
    }

    // 强制使用白天模式
    localStorage.setItem('darkMode', 'false');
    let isDarkMode = false;
    updateDarkMode(isDarkMode);

    // 添加主题切换按钮到body，并设置初始图标
    if (!$('#theme-toggle').length) {
        $('body').append('<button id="theme-toggle"><i class="bi bi-moon-fill"></i></button>');
    }

    // 设置按钮点击事件
    $(document).on('click', '#theme-toggle', function() {
        isDarkMode = !isDarkMode;
        updateDarkMode(isDarkMode);
    });

    //focus search bar by command + K
    $(document).on('keydown', function (e) {
        if (e.metaKey && e.key === 'k') {
            e.preventDefault();
            $('#searchInput').focus();
        }
    });
});
 $.ajaxSetup({
     beforeSend: function(xhr, settings) {
         if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
             xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
         }
     }
 });

function toHourMinutes(date) {
  let hours = date.getHours().toString().padStart(2, '0');
  let minutes = date.getMinutes().toString().padStart(2, '0');
  return `${hours}:${minutes}`;
}

function toYearMonthDate(date) {
  let year = date.getFullYear();
  let month = (date.getMonth() + 1).toString().padStart(2, '0');
  let day = date.getDate().toString().padStart(2, '0');
  return `${year}年${month}月${day}日`;
}

function updateLocalTime() {
  const now = new Date();
  const yesterday = new Date();
  yesterday.setDate(now.getDate() - 1);

  $('.localtime').each(function() {
    const utcTime = $(this).text();
    const pubTime = new Date(utcTime + ' UTC');

    if (isNaN(pubTime.getTime())) {
      return;
    }

    if (pubTime.toDateString() === now.toDateString()) {
      $(this).text('今天 ' + toHourMinutes(pubTime));
    } else if (pubTime.toDateString() === yesterday.toDateString()) {
      $(this).text('昨天 ' + toHourMinutes(pubTime));
    } else {
      $(this).text(toYearMonthDate(pubTime) + ' ' + toHourMinutes(pubTime));
    }
    $(this).show();
  });
}

updateLocalTime();



// Initialize ClipboardJS
new ClipboardJS('.review-links');

// Initialize Bootstrap 5 tooltips
var tooltipTriggerList = [].slice.call(document.querySelectorAll('.review-links'));
tooltipTriggerList.forEach(function (tooltipTriggerEl) {
  new bootstrap.Tooltip(tooltipTriggerEl)
});

</script>
