/*darkmode override*/

[data-bs-theme="dark"] {
    --bs-body-bg: #212529;
}

[data-bs-theme="dark"] body {
    background-color: #121212;
    color: #e0e0e0;
}

[data-bs-theme="dark"] .float-element { background-color: var(--bs-body-bg); }
[data-bs-theme="dark"] .dashed { border-bottom: 1px #444 dashed; }
[data-bs-theme="dark"] .solid { border-bottom: 1px #444 solid; }

[data-bs-theme="dark"] .blue { color: #699fcf; }
[data-bs-theme="dark"] .grey { color: #aaa; }
[data-bs-theme="dark"] .dark-grey { color: #888; }
[data-bs-theme="dark"] a { color: #699fcf; }
[data-bs-theme="dark"] a:hover, 
[data-bs-theme="dark"] a:focus { filter: brightness(120%); }

[data-bs-theme="dark"] .status-message { color: #ccc; }

[data-bs-theme="dark"] .navbar-brand { color: #699fcf; }

[data-bs-theme="dark"] .navbar {
    background-color: var(--bs-body-bg);
    color: #ddd;
}

[data-bs-theme="dark"] .select-box a {
    color: #ddd;
}

[data-bs-theme="dark"] .btn-white {
    background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .btn-grey {
    color: #ddd;
    background-color: var(--bs-body-bg);
    border: 1px #3f3f3f solid;
}

[data-bs-theme="dark"] .badge-black-white {
    background-color: #343a40;
    color: #699fcf;
}