          <select name="term">
            {% set joined_term = course.joined_term() %}
            {% if not joined_term %}
              {% set latest_term = course.term_ids[0] %}
              <option value="{{ latest_term }}" selected="selected">{{ latest_term|term_display }}</option>
            {% endif %}

            {% for term in course.term_ids %}
              {% if term != latest_term or joined_term %}
                <option value="{{ term }}" {% if review.term == term or ((not review.term or review.term not in course.term_ids) and joined_term == term) %}selected="selected"{% endif %}>{{ term|term_display }}
                {% if joined_term == term %}(学过){% endif %}
                </option>
              {% endif %}
            {% endfor %}
          </select> 